.required:after {
  content: '*';
  color: red;
}

.card-size {
    min-width: 400px;
} 

.fixed-logo-size {
  width: 350px !important;
  max-width: 350px !important;
  height: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tab-container {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.tab-content {
  border-top: none;
}